<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://dubbo.apache.org/schema/dubbo        
    http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
	<!-- dubbo的xsd联网检验失效,需要在本地配置检验window->performances->xml->catalog->user->add -->
	<!-- location填本地dubbo的xsd文件,key填http://code.alibabatech.com/schema/dubbo/dubbo.xsd -->

	<!-- 2.6.6以上版本可使用@Service注解,扫描对应的包.不会和spring的aop有冲突,未测试 -->
	<!-- <dubbo:annotation package="com.wy.consumer" /> -->

	<dubbo:application name="dubbo_customer"></dubbo:application>
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="zookeeper://192.168.1.146:2181?client=curator" check="false"></dubbo:registry>
	<!-- 要引用的服务 -->
	<!-- interface调用的服务接口 -->
	<!-- check 启动时检查提供者是否存在,true报错,false忽略 -->
	<!-- registry 从指定注册中心注册获取服务列表,在多个注册中心时使用,值为<dubbo:registry>的id属性,多个注册中心ID用逗号分隔 -->
	<!-- loadbalance 负载均衡策略,可选值:random,roundrobin,leastactive,分别表示:随机,轮循,最少活跃调用 -->
	<dubbo:reference interface="com.wy.interfaces.ITest" id="testService"></dubbo:reference>

	<bean name="test" class="com.wy.consumer.Test"></bean>
</beans>